[Desktop Entry]
Name=yantrium
Comment=Media streaming application
Exec=yantrium %u
Icon=com.yantrium.yantrium
Type=Application
Categories=AudioVideo;Video;Player;
MimeType=x-scheme-handler/yantrium;
StartupNotify=true

